.questions-form {
  padding-top: 50px;
}

.questions-form > h2 {
  font-size: 50px;
  color: #D6EDFF
}

.questions-form > a > button {
  padding: 40px 60px;
  font-size: 35px;
}

.questions-form > a > button:hover {
  background-color: #478978;
  color: #D6EDFF;
}
