.App {
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #DE5476;
  height: 100vh;
  overflow: scroll;
}

.questions-error-msg,
.questions-grid-error > h2 {
  font-size: 50px;
  color: #D6EDFF
}
